<!DOCTYPE html>
<html>
  <head>
    <title>ZT Admin</title>
    <%= stylesheet_link_tag    "zt_admin/application", media: "all" %>
    <%= javascript_include_tag "zt_admin/application" %>
    <%= csrf_meta_tags %>

    <%= render 'layouts/zt_admin/shim' %>
  </head>
  <body>
    <%#= render 'layouts/zt_admin/header' %>
    <%= render "layouts/zt_admin/top_navbar" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/zt_admin/footer' %>
  </body>
</html>
